@charset "UTF-8";
/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.15;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "open sans", "nanum", sans-serif;
  font-size: 16px; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%; }

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #333333;
  cursor: pointer; }

ol,
ul,
dl {
  list-style: none; }

select {
  padding: 5px 10px; }

/* ie 화살표 제거 */
select::-ms-expand {
  display: none; }

address {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =================== typo =================== */
/* nanum square */
@font-face {
  font-family: "nanum";
  font-weight: 800;
  src: local("nanum square acEB"), url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 600;
  src: local("nanum square acB"), url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 500;
  src: local("nanum square acR"), url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 300;
  src: local("nanum square acL"), url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype"); }
/* open sans */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: local("OpenSans-ExtraBold"), url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: local("OpenSans-Bold"), url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 500;
  src: local("OpenSans-SemiBold"), url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: local("OpenSans-Light"), url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"); }
/* =================== helper =================== */
.none {
  display: none; }

.is-tab-show {
  display: none; }
  @media all and (max-width: 900px) {
    .is-tab-show {
      display: block; } }

@media all and (max-width: 900px) {
  .is-tab-hide {
    display: none; } }

.is-mo-show {
  display: none; }
  @media all and (max-width: 600px) {
    .is-mo-show {
      display: block; } }

@media all and (max-width: 600px) {
  .is-mo-hide {
    display: none; } }

.is-mo-sm-show {
  display: none; }
  @media all and (max-width: 360px) {
    .is-mo-sm-show {
      display: block; } }

@media all and (max-width: 360px) {
  .is-mo-sm-hide {
    display: none; } }

.is-mo-xsm-show {
  display: none; }
  @media all and (max-width: 320px) {
    .is-mo-xsm-show {
      display: block; } }

@media all and (max-width: 320px) {
  .is-mo-xsm-hide {
    display: none; } }

.img-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.respon-img__box {
  position: relative;
  width: 100%;
  padding-top: 50%; }
  .respon-img__box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .flex-wrap--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; }
  .flex-wrap--center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .flex-wrap--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; }
  .flex-wrap--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }

.scroll-custom {
  overflow-y: auto; }
  .scroll-custom::-webkit-scrollbar {
    width: 5px; }
  .scroll-custom::-webkit-scrollbar-thumb {
    background-color: #ffbd54; }
  html.ie .scroll-custom {
    scrollbar-arrow-color: #563094;
    scrollbar-face-color: #563094;
    scrollbar-track-color: #ffbd54; }

/* =================== button =================== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .btn.is-disabled {
    background-color: gray;
    cursor: default; }
  .btn-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .btn-wrap .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap .btn:first-of-type {
        margin-left: 0px; }
  .btn-wrap--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; }
    .btn-wrap--right .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap--right .btn:first-of-type {
        margin-left: 0px; }
  .btn-double-wrap {
    display: flex;
    align-items: center; }
    .btn-double-wrap .btn {
      width: 50%; }
  .btn-double-wrap--side {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .btn-double-wrap--side .btn {
      width: 48%; }
  .btn-fixed-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed); }
    .btn-fixed-wrap .btn {
      width: 100%;
      height: 100%; }
  .btn-fixed-wrap--double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed); }
    .btn-fixed-wrap--double .btn {
      width: 50%;
      height: 100%; }
  .btn-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .btn-round {
    border-radius: 25px; }
  .btn-round.btn-ht-sm {
    border-radius: 15px; }
  .btn-round.btn-ht-lg {
    border-radius: 30px; }
  .btn-rounded {
    border-radius: 8px; }
  .btn-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07); }

.btn-ht-sm {
  height: 30px; }

.btn-ht-md {
  height: 50px; }

.btn-ht-lg {
  height: 60px; }

.btn-wi-sm {
  width: 100px; }

.btn-wi-md {
  width: 150px; }

.btn-wi-lg {
  width: 200px; }

.btn-wi-100 {
  width: 100%; }

.btn-main {
  background-color: #563094;
  color: #333333; }

.btn-sub {
  background-color: #ea4d74;
  color: #333333; }

.btn-highlight {
  background-color: #ffbd54;
  color: #333333; }

.btn-bd-main {
  border: 1px solid #563094;
  background-color: white;
  color: #563094; }

.btn-bd-sub {
  border: 1px solid #ea4d74;
  background-color: white;
  color: #ea4d74; }

.btn-bd-highlight {
  border: 1px solid #ffbd54;
  background-color: white;
  color: #ffbd54; }

.btn-gst-main {
  border: 1px solid #563094;
  color: #563094; }

.btn-gst-sub {
  border: 1px solid #ea4d74;
  color: #ea4d74; }

.btn-gst-highlight {
  border: 1px solid #ffbd54;
  color: #ffbd54; }

.socail-btn-wrap {
  flex-wrap: wrap; }
  .socail-btn-wrap .btn {
    margin: 0; }

.socail-icon-btn-wrap {
  justify-content: center; }

.btn-kakao {
  background-color: #fae300;
  color: #ffffff; }

.btn-facebook {
  background-color: #204889;
  color: #ffffff; }

.btn-naver {
  background-color: #00bf19;
  color: #ffffff; }

.btn-kakao {
  color: #2b1718; }

/* =================== form =================== */
.input {
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-family: "noto", sans-serif; }
  .input-box {
    width: 100%; }
  .input-selec, .input-selec--round, .input-selec--underbar {
    width: 100%;
    height: 50px;
    border: 1px solid #563094;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer; }
    .input-selec--round {
      border-radius: 25px; }
    .input-selec--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
  .input-txt, .input-txt--round, .input-txt--underbar {
    width: 100%;
    height: 50px;
    border: 1px solid #563094;
    padding: 0 25px;
    background-color: white; }
    .input-txt--round {
      border-radius: 25px; }
    .input-txt--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
    .input-txt::placeholder, .input-txt--round::placeholder, .input-txt--underbar::placeholder {
      opacity: 0.6; }
  .input-tarea, .input-tarea--round, .input-tarea--underbar {
    width: 100%;
    height: 200px;
    border: 1px solid #563094;
    padding: 15px;
    background-color: white; }
    .input-tarea--round {
      border-radius: 25px; }
    .input-tarea--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
    .input-tarea::placeholder, .input-tarea--round::placeholder, .input-tarea--underbar::placeholder {
      opacity: 0.6; }

/* =================== list =================== */
.list {
  display: flex;
  align-items: center; }
  .list-title {
    width: 200px; }
  .list-desc {
    width: 100%; }

.list-wrap {
  position: relative; }
  .list-wrap--underline .list {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0; }
  .list-wrap--underline .list:first-of-type {
    border-top: 0; }
  .list-wrap--side .list {
    justify-content: space-between;
    align-items: center; }
  .list-wrap--side .list-title {
    min-width: 150px;
    width: auto; }
  .list-wrap--side .list-desc {
    width: auto; }

/* =================== layout =================== */
html,
body,
#app {
  height: 100%; }

.wrap {
  min-height: 100%; }

.l-center {
  max-width: 1160px;
  width: 95%;
  margin: 0 auto; }

html {
  min-height: 4000px; }

/* =================== header =================== */
.header__inner {
  width: 100%;
  height: 100px;
  max-width: 1725px;
  position: relative;
  background: #fff; }

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }

/* =================== gnb =================== */
.gnb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 350px; }
  .gnb__list {
    margin-right: 43px; }
    .gnb__list:last-of-type {
      margin-right: 0; }
  .gnb__item {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.7s; }
    .gnb__item:hover {
      color: #ee3b4a; }

/* =================== util =================== */
.util {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 0; }
  .util__list {
    margin-right: 22px; }
    .util__list:last-of-type {
      margin-right: 0; }
      .util__list:last-of-type .util__item:after {
        display: none; }
  .util__item {
    font-size: 16px;
    font-weight: 600;
    color: #a7a7a7;
    position: relative;
    transition: all 0.7s; }
    .util__item:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -11px;
      width: 1px;
      height: 14px;
      background: #a7a7a7; }
    .util__item:hover {
      color: #ee3b4a; }

/* =================== visual =================== */
.visual__inner {
  background-image: url("../../images/img/bg-visual.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "cover";
  background-size: cover;
  background-repeat: no-repeat;
  height: 867px;
  position: relative;
  max-width: 1725px; }
  .visual__inner:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(136, 34, 43, 0.36); }
.visual__obj {
  position: absolute;
  top: 50px;
  left: 0; }
  .visual__obj img {
    width: 100%; }
.visual__slide-bg {
  width: 100%;
  height: 440px;
  position: relative;
  background: #ee3b4a; }
.visual__slide-wrap {
  top: 50%;
  transform: translateY(-50%); }
  .visual__slide-wrap .main-slide-next {
    right: 254px;
    width: 55px;
    height: 55px;
    background-image: url("../../images/img/slide-right.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
  .visual__slide-wrap .main-slide-prev {
    left: 254px;
    width: 55px;
    height: 55px;
    background-image: url("../../images/img/slide-left.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
.visual__slide--item {
  height: 348px;
  background: #000; }
.visual__txt-wrap {
  position: relative;
  z-index: 10;
  padding-left: 280px;
  padding-top: 60px; }
  .visual__txt-wrap--txt {
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
    color: #ffffff;
    margin-bottom: 11px; }
  .visual__txt-wrap--tit {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    line-height: 82px;
    margin-bottom: 48px; }
  .visual__txt-wrap--scroll {
    font-size: 14px;
    line-height: 19px;
    color: #fff; }

/* =================== best-review =================== */
.best-review {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px; }
  .best-review:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 445px;
    background: rgba(11, 7, 45, 0.06); }
  .best-review__txt-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 37px; }
  .best-review__menu-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 33px; }
  .best-review__item {
    margin-right: 12px; }
    .best-review__item:last-of-type {
      margin-right: 0; }
  .best-review__link {
    display: inline-block; }

/* =================== title =================== */
.title__tit {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #ee3b4a;
  margin-bottom: 21px; }
  .title__tit.block {
    color: #000; }
  .title__tit.white {
    color: #fff; }
.title__txt {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px; }
  .title__txt.block {
    color: #000; }
  .title__txt.white {
    color: #fff; }

/* =================== review =================== */
.review {
  display: flex;
  align-self: flex-end;
  display: flex;
  flex-direction: column; }
  .review__more-btn {
    width: 96px;
    height: 34px;
    background-image: url("../../images/img/more-btn.svg");
    transition: 0.4s;
    margin-bottom: 31px;
    align-self: flex-end; }
    .review__more-btn:hover {
      background-image: url("../../images/img/more-btn-on.svg"); }
  .review__txt {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px; }
    .review__txt .num {
      display: inline-block;
      margin-right: 8px;
      font-size: 50px;
      font-weight: 600; }

/* =================== com-slide =================== */
.com-slide {
  position: relative; }
  .com-slide__item {
    cursor: pointer;
    box-sizing: border-box;
    height: 467px; }
    .com-slide__item:hover {
      border: 3px solid #ee3b4a;
      box-sizing: border-box; }
    .com-slide__item--thumb {
      width: 100%;
      height: 181px;
      position: relative; }
      .com-slide__item--thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .com-slide__item--thumb .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 24px;
        text-align: center;
        font-size: 13px;
        color: #fff;
        position: absolute;
        left: 28px;
        bottom: 15px;
        border: 1px solid #fff;
        border-radius: 15px; }
  .com-slide__info {
    position: relative;
    padding: 20px 28px;
    background: #fff; }
    .com-slide__info--star {
      margin-bottom: 18px; }
      .com-slide__info--star .fa-star {
        color: rgba(225, 187, 0, 0.2); }
      .com-slide__info--star .fa-star.checked {
        color: #ffbb00; }
    .com-slide__info--id {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #a7a7a7;
      position: absolute;
      top: 20px;
      right: 28px; }
      .com-slide__info--id img {
        display: inline-block;
        margin-right: 5px; }
    .com-slide__info--txt-wrap-tit {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.1;
      height: 1.1;
      /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
      font-size: 20px;
      font-weight: 600;
      line-height: 55px; }
    .com-slide__info--txt-wrap-txt {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 23px;
      height: 115px;
      /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
      font-size: 16px;
      line-height: 23px;
      color: #464646;
      margin-bottom: 16px; }
    .com-slide__info--txt-wrap-heart .num {
      font-size: 14px;
      font-weight: 500;
      color: #ee3b4a; }
  .com-slide .swiper-button-next {
    right: -77px;
    width: 55px;
    height: 55px;
    background-image: url("../../images/img/com-next.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
  .com-slide .swiper-button-prev {
    left: -77px;
    width: 55px;
    height: 55px;
    background-image: url("../../images/img/com-prev.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }

/* =================== com-card =================== */
.com-card {
  margin-bottom: 65px; }
  .com-card__list {
    display: flex;
    margin: 0 -10px; }
  .com-card__item {
    position: relative;
    z-index: 1;
    width: 25%;
    margin: 0 10px;
    padding: 47px 23px;
    background: #fff;
    text-align: center; }
    .com-card__item--tit {
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 14px; }
    .com-card__item--app {
      font-size: 18px;
      font-weight: 400;
      color: #ee3b4a;
      line-height: 1;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 1px solid #ee3b4a;
      margin-bottom: 37px; }
    .com-card__item--price {
      display: flex;
      align-items: center;
      width: 230px;
      height: 56px;
      font-size: 16px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 37px;
      background-image: linear-gradient(to right, #ee3b4a, #ff937a);
      border-radius: 40px;
      display: inline-block; }
      .com-card__item--price .bold {
        font-size: 26px;
        font-weight: 600;
        line-height: 56px;
        color: #ffffff;
        vertical-align: sub;
        margin-left: 7px; }
    .com-card__item--txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #242424;
      margin-bottom: 40px; }

/* =================== labs-price =================== */
.labs-price {
  position: relative;
  overflow: hidden;
  padding-top: 71px;
  padding-bottom: 50px;
  background: #0b072d; }
  .labs-price .obj1 {
    position: absolute;
    left: -98px;
    bottom: -230px; }
  .labs-price .obj2 {
    position: absolute;
    right: 76px;
    bottom: 124px; }
  .labs-price__inner {
    overflow: hidden; }
  .labs-price__tit-wrap {
    margin-bottom: 37px; }

/* =================== check =================== */
.input-box .chk-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../images/img/check-off.png");
  display: inline-block; }
.input-box .chk-box:checked + label.chk-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../images/img/check-on.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* =================== btn =================== */
.btn-sm {
  width: 146px;
  height: 54px;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  display: inline-block; }

.btn-border-red {
  border: 1px solid #ee3b4a;
  color: #fff; }

.btn-rdi-rounded {
  border-radius: 5px; }

.btn-wrap {
  justify-content: center; }

/*# sourceMappingURL=ui.css.map */
