@charset "UTF-8";
/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.15;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "open sans", "nanum", sans-serif;
  font-size: 16px; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%; }

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #333333;
  cursor: pointer; }

ol,
ul,
dl {
  list-style: none; }

select {
  padding: 5px 10px; }

/* ie 화살표 제거 */
select::-ms-expand {
  display: none; }

address {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =================== typo =================== */
/* nanum square */
@font-face {
  font-family: "nanum";
  font-weight: 800;
  src: local("nanum square acEB"), url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 600;
  src: local("nanum square acB"), url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 500;
  src: local("nanum square acR"), url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype"); }
@font-face {
  font-family: "nanum";
  font-weight: 300;
  src: local("nanum square acL"), url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype"); }
/* open sans */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: local("OpenSans-ExtraBold"), url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: local("OpenSans-Bold"), url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 500;
  src: local("OpenSans-SemiBold"), url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: local("OpenSans-Light"), url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"); }
/* =================== helper =================== */
.none {
  display: none; }

.is-tab-show {
  display: none; }
  @media all and (max-width: 900px) {
    .is-tab-show {
      display: block; } }

@media all and (max-width: 900px) {
  .is-tab-hide {
    display: none; } }

.is-mo-show {
  display: none; }
  @media all and (max-width: 600px) {
    .is-mo-show {
      display: block; } }

@media all and (max-width: 600px) {
  .is-mo-hide {
    display: none; } }

.is-mo-sm-show {
  display: none; }
  @media all and (max-width: 360px) {
    .is-mo-sm-show {
      display: block; } }

@media all and (max-width: 360px) {
  .is-mo-sm-hide {
    display: none; } }

.is-mo-xsm-show {
  display: none; }
  @media all and (max-width: 320px) {
    .is-mo-xsm-show {
      display: block; } }

@media all and (max-width: 320px) {
  .is-mo-xsm-hide {
    display: none; } }

.img-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.respon-img__box {
  position: relative;
  width: 100%;
  padding-top: 50%; }
  .respon-img__box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .flex-wrap--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; }
  .flex-wrap--center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .flex-wrap--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; }
  .flex-wrap--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }

.scroll-custom {
  overflow-y: auto; }
  .scroll-custom::-webkit-scrollbar {
    width: 5px; }
  .scroll-custom::-webkit-scrollbar-thumb {
    background-color: #ffbd54; }
  html.ie .scroll-custom {
    scrollbar-arrow-color: #563094;
    scrollbar-face-color: #563094;
    scrollbar-track-color: #ffbd54; }

/* =================== button =================== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .btn.is-disabled {
    background-color: gray;
    cursor: default; }
  .btn-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .btn-wrap .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap .btn:first-of-type {
        margin-left: 0px; }
  .btn-wrap--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; }
    .btn-wrap--right .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap--right .btn:first-of-type {
        margin-left: 0px; }
  .btn-double-wrap {
    display: flex;
    align-items: center; }
    .btn-double-wrap .btn {
      width: 50%; }
  .btn-double-wrap--side {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .btn-double-wrap--side .btn {
      width: 48%; }
  .btn-fixed-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed); }
    .btn-fixed-wrap .btn {
      width: 100%;
      height: 100%; }
  .btn-fixed-wrap--double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed); }
    .btn-fixed-wrap--double .btn {
      width: 50%;
      height: 100%; }
  .btn-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .btn-round {
    border-radius: 25px; }
  .btn-round.btn-ht-sm {
    border-radius: 15px; }
  .btn-round.btn-ht-lg {
    border-radius: 30px; }
  .btn-rounded {
    border-radius: 8px; }
  .btn-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07); }

.btn-ht-sm {
  height: 30px; }

.btn-ht-md {
  height: 50px; }

.btn-ht-lg {
  height: 60px; }

.btn-wi-sm {
  width: 100px; }

.btn-wi-md {
  width: 150px; }

.btn-wi-lg {
  width: 200px; }

.btn-wi-100 {
  width: 100%; }

.btn-main {
  background-color: #563094;
  color: #333333; }

.btn-sub {
  background-color: #ea4d74;
  color: #333333; }

.btn-highlight {
  background-color: #ffbd54;
  color: #333333; }

.btn-bd-main {
  border: 1px solid #563094;
  background-color: white;
  color: #563094; }

.btn-bd-sub {
  border: 1px solid #ea4d74;
  background-color: white;
  color: #ea4d74; }

.btn-bd-highlight {
  border: 1px solid #ffbd54;
  background-color: white;
  color: #ffbd54; }

.btn-gst-main {
  border: 1px solid #563094;
  color: #563094; }

.btn-gst-sub {
  border: 1px solid #ea4d74;
  color: #ea4d74; }

.btn-gst-highlight {
  border: 1px solid #ffbd54;
  color: #ffbd54; }

.socail-btn-wrap {
  flex-wrap: wrap; }
  .socail-btn-wrap .btn {
    margin: 0; }

.socail-icon-btn-wrap {
  justify-content: center; }

.btn-kakao {
  background-color: #fae300;
  color: #ffffff; }

.btn-facebook {
  background-color: #204889;
  color: #ffffff; }

.btn-naver {
  background-color: #00bf19;
  color: #ffffff; }

.btn-kakao {
  color: #2b1718; }

/* =================== btn =================== */
.btn-sm {
  width: 9.125rem;
  height: 3.375rem;
  font-size: 1.125rem;
  line-height: 3.375rem;
  text-align: center;
  display: inline-block;
  transition: all 0.4s; }
  .btn-sm:hover {
    transition: all 0.4s;
    background-image: linear-gradient(105deg, #ee3b4a 79%, #ed8e78 100%); }

.btn-border-red {
  border: 0.0625rem solid #ee3b4a;
  color: #fff; }

.btn-rdi-rounded {
  border-radius: 0.3125rem; }

.btn-wrap {
  justify-content: center; }

/* =================== form =================== */
.input {
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-family: "noto", sans-serif; }
  .input-box {
    width: 100%; }
  .input-selec, .input-selec--round, .input-selec--underbar {
    width: 100%;
    height: 50px;
    border: 1px solid #563094;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer; }
    .input-selec--round {
      border-radius: 25px; }
    .input-selec--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
  .input-txt, .input-txt--round, .input-txt--underbar {
    width: 100%;
    height: 50px;
    border: 1px solid #563094;
    padding: 0 25px;
    background-color: white; }
    .input-txt--round {
      border-radius: 25px; }
    .input-txt--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
    .input-txt::placeholder, .input-txt--round::placeholder, .input-txt--underbar::placeholder {
      opacity: 0.6; }
  .input-tarea, .input-tarea--round, .input-tarea--underbar {
    width: 100%;
    height: 200px;
    border: 1px solid #563094;
    padding: 15px;
    background-color: white; }
    .input-tarea--round {
      border-radius: 25px; }
    .input-tarea--underbar {
      border: 0;
      border-bottom: 1px solid;
      border-radius: 0; }
    .input-tarea::placeholder, .input-tarea--round::placeholder, .input-tarea--underbar::placeholder {
      opacity: 0.6; }

/* =================== check =================== */
.input-box .chk-icon {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url("../../images/img/check-off.png");
  display: inline-block; }
.input-box .chk-box:checked + label.chk-icon {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url("../../images/img/check-on.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* =================== review =================== */
.review {
  display: flex;
  align-self: flex-end;
  display: flex;
  flex-direction: column; }
  .review__more-btn {
    width: 6rem;
    height: 2.125rem;
    background-image: url("../../images/img/more-btn.svg");
    transition: 0.4s;
    margin-bottom: 1.9375rem;
    align-self: flex-end; }
    .review__more-btn:hover {
      background-image: url("../../images/img/more-btn-on.svg"); }
  .review__more-btn--community {
    width: 15.5625rem;
    height: 2.125rem;
    background-image: url("../../images/img/more-btn-comu.svg");
    transition: 0.4s;
    margin-bottom: 1.9375rem;
    align-self: flex-end; }
    .review__more-btn--community:hover {
      background-image: url("../../images/img/more-btn-comu-on.svg"); }
  .review__txt {
    display: flex;
    align-items: center;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 2.8125rem; }
    .review__txt .num {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 3.125rem;
      font-weight: 600; }

/* =================== com-slide =================== */
.com-slide {
  position: relative; }
  .com-slide__item {
    cursor: pointer;
    box-sizing: border-box;
    height: 29.1875rem; }
    .com-slide__item:hover {
      box-sizing: border-box; }
    .com-slide__item--thumb {
      width: 100%;
      height: 11.3125rem;
      position: relative; }
      .com-slide__item--thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .com-slide__item--thumb .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.125rem;
        height: 1.5rem;
        text-align: center;
        font-size: 0.8125rem;
        color: #fff;
        position: absolute;
        left: 1.75rem;
        bottom: 0.9375rem;
        border: 0.0625rem solid #fff;
        border-radius: 0.9375rem; }
  .com-slide__info {
    position: relative;
    padding: 1.25rem 1.75rem;
    background: #fff; }
    .com-slide__info--star {
      margin-bottom: 1.125rem; }
      .com-slide__info--star .fa-star {
        color: rgba(225, 187, 0, 0.2); }
      .com-slide__info--star .fa-star.checked {
        color: #ffbb00; }
    .com-slide__info--id {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 400;
      color: #a7a7a7;
      position: absolute;
      top: 1.25rem;
      right: 1.75rem; }
      .com-slide__info--id img {
        display: inline-block;
        margin-right: 0.3125rem; }
    .com-slide__info--txt-wrap-tit {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.1;
      height: 1.1;
      /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 3.4375rem; }
    .com-slide__info--txt-wrap-txt {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.4375rem;
      height: 7.1875rem;
      /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
      font-size: 1rem;
      line-height: 1.4375rem;
      color: #464646;
      margin-bottom: 1rem; }
    .com-slide__info--txt-wrap-heart .num {
      font-size: 0.875rem;
      font-weight: 500;
      color: #ee3b4a; }
  .com-slide .swiper-button-next {
    right: -4.8125rem;
    width: 3.4375rem;
    height: 3.4375rem;
    background-image: url("../../images/img/com-next.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
  .com-slide .swiper-button-prev {
    left: -4.8125rem;
    width: 3.4375rem;
    height: 3.4375rem;
    background-image: url("../../images/img/com-prev.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }

/* =================== com-card =================== */
.com-card {
  margin-bottom: 4.0625rem; }
  .com-card__list {
    display: flex;
    margin: 0 -0.625rem; }
  .com-card__item {
    position: relative;
    z-index: 1;
    width: 25%;
    height: 26.5625rem;
    margin: 0 0.625rem;
    padding: 2.9375rem 1.4375rem;
    padding-bottom: 1.25rem;
    background: #fff;
    text-align: center; }
    .com-card__item--tit {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 2rem;
      margin-bottom: 0.875rem; }
    .com-card__item--app {
      font-size: 1.125rem;
      font-weight: 400;
      color: #ee3b4a;
      line-height: 1;
      display: inline-block;
      padding-bottom: 0.5rem;
      border-bottom: 0.0625rem solid #ee3b4a;
      margin-bottom: 2.3125rem; }
    .com-card__item--price {
      display: flex;
      align-items: center;
      width: 14.375rem;
      height: 3.5rem;
      font-size: 1rem;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 2.3125rem;
      background-image: linear-gradient(180deg, #ee3b4a, #ff937a 130%);
      border-radius: 2.5rem;
      display: inline-block; }
      .com-card__item--price .bold {
        font-size: 1.625rem;
        font-weight: 600;
        line-height: 3.5rem;
        color: #ffffff;
        vertical-align: sub;
        margin-left: 0.4375rem; }
    .com-card__item--txt {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.375rem;
      color: #242424;
      margin-bottom: 1rem; }
    .com-card__item--txt02 {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.75rem;
      color: #464646; }
    .com-card__item .input-box {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1.25rem; }

/* =================== com-table =================== */
.com-table {
  margin-top: 3.125rem;
  border-top: 0.0625rem solid #c5c5c5; }
  .com-table tr {
    height: 5.3125rem;
    border-bottom: 0.0625rem solid rgba(197, 197, 197, 0.5); }
    .com-table tr td {
      text-align: center;
      vertical-align: middle;
      cursor: pointer; }
      .com-table tr td.date {
        font-size: 1.125rem;
        color: #464646;
        width: 8.75rem; }
      .com-table tr td.heart {
        font-size: 1.125rem;
        color: #a7a7a7;
        width: 7.5rem; }
      .com-table tr td.in-txt {
        font-size: 1.125rem;
        color: #464646;
        width: 55.625rem;
        text-align: left;
        padding-left: 1.875rem;
        box-sizing: border-box; }
      .com-table tr td.id {
        font-size: 1.125rem;
        color: #a7a7a7;
        letter-spacing: -0.125rem;
        width: 5rem; }

/* =================== title =================== */
.title__tit {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6875rem;
  color: #ee3b4a;
  margin-bottom: 1.3125rem; }
  .title__tit.block {
    color: #000; }
  .title__tit.white {
    color: #fff; }
.title__txt {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.5rem; }
  .title__txt.block {
    color: #000; }
  .title__txt.white {
    color: #fff; }

/* =================== layout =================== */
html,
body,
#app {
  height: 100%; }

.wrap {
  min-height: 100%; }

.l-center {
  max-width: 1160px;
  width: 95%;
  margin: 0 auto; }

/* =================== header =================== */
.header__inner {
  width: 100%;
  height: 6.25rem;
  max-width: 107.8125rem;
  position: relative;
  background: #fff; }

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }

/* =================== gnb =================== */
.gnb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 21.875rem; }
  .gnb__list {
    margin-right: 2.6875rem; }
    .gnb__list:last-of-type {
      margin-right: 0; }
  .gnb__item {
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    transition: all 0.7s; }
    .gnb__item:after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      opacity: 0;
      position: absolute;
      top: -0.375rem;
      right: 0.25rem;
      background: rgba(239, 84, 85, 0.4);
      border-radius: 50%;
      display: inline-block;
      transition: all 0.6s; }
    .gnb__item:before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      opacity: 0;
      position: absolute;
      right: -0.0625rem;
      top: -0.375rem;
      background: #ef5455;
      border-radius: 50%;
      display: inline-block; }
    .gnb__item:hover {
      color: #ee3b4a;
      transition: all 0.4s; }
      .gnb__item:hover:before {
        opacity: 1; }
      .gnb__item:hover::after {
        opacity: 1; }

/* =================== util =================== */
.util {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 0; }
  .util__list {
    margin-right: 1.375rem; }
    .util__list:last-of-type {
      margin-right: 0; }
      .util__list:last-of-type .util__item:after {
        display: none; }
  .util__item {
    font-size: 1rem;
    font-weight: 600;
    color: #a7a7a7;
    position: relative;
    transition: all 0.7s; }
    .util__item:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -0.6875rem;
      width: 0.0625rem;
      height: 0.875rem;
      background: #a7a7a7; }
    .util__item:hover {
      color: #ee3b4a; }

/* =================== footer =================== */
.footer {
  padding-top: 2.8125rem;
  padding-bottom: 1.5rem;
  background: #060417; }
  .footer__inner--top-link {
    font-size: 0.875rem;
    color: #a7a7a7;
    position: relative;
    display: inline-block;
    margin-right: 1.3125rem; }
    .footer__inner--top-link:after {
      content: "";
      display: inline-block;
      width: 0.0625rem;
      height: 0.6875rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -0.8125rem;
      background: #a7a7a7; }
    .footer__inner--top-link:last-of-type::after {
      display: none; }
  .footer__inner--mid {
    margin-top: 2rem; }
    .footer__inner--mid-company {
      font-size: 0.875rem;
      font-weight: 600;
      color: #ffffff;
      line-height: 1;
      margin-bottom: 0.625rem; }
    .footer__inner--mid-represent {
      font-size: 0.875rem;
      font-weight: 600;
      color: #a7a7a7;
      line-height: 1; }
      .footer__inner--mid-represent .line {
        font-size: 0.875rem;
        display: inline-block;
        margin: 0 0.25rem;
        color: #a7a7a7; }
    .footer__inner--mid-txt {
      margin-top: 0.625rem; }
      .footer__inner--mid-txt p {
        font-size: 0.875rem;
        color: #a7a7a7;
        margin-top: 0.3125rem; }
      .footer__inner--mid-txt p.last {
        margin-top: 0.9375rem; }
  .footer__inner--copy {
    font-size: 0.875rem;
    line-height: 1;
    color: #676767;
    margin-top: 1.6875rem; }

/* =================== visual =================== */
.visual__inner {
  background-image: url("../../images/img/bg-visual.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "cover";
  background-size: cover;
  background-repeat: no-repeat;
  height: 52.9375rem;
  position: relative;
  max-width: 107.8125rem; }
  .visual__inner:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(136, 34, 43, 0.36); }
.visual__obj {
  position: absolute;
  top: 3.125rem;
  left: 0; }
  .visual__obj img {
    width: 100%; }
.visual__slide-bg {
  width: 100%;
  height: 27.5rem;
  position: relative;
  background: #ee3b4a;
  overflow: hidden; }
.visual__slide-wrap {
  top: 50%;
  transform: translateY(-50%); }
  .visual__slide-wrap .main-slide-next {
    right: 20.2%;
    width: 3.4375rem;
    height: 3.4375rem;
    margin-top: -3.125rem;
    background-image: url("../../images/img/slide-right.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
  .visual__slide-wrap .main-slide-prev {
    left: 20.2%;
    width: 3.4375rem;
    height: 3.4375rem;
    margin-top: -3.125rem;
    background-image: url("../../images/img/slide-left.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "cover";
    background-size: cover;
    background-repeat: no-repeat; }
.visual__slide--item {
  width: 10.875rem !important;
  margin: 0 0.7188rem;
  opacity: 0.2;
  position: relative;
  z-index: -1; }
  .visual__slide--item.swiper-slide-active, .visual__slide--item.swiper-slide-next, .visual__slide--item.swiper-slide-prev {
    opacity: 1; }
  .visual__slide--item-top {
    position: relative;
    height: 1.875rem;
    background: #fff; }
    .visual__slide--item-top .vis-top-icon {
      position: absolute;
      left: 0.4375rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .visual__slide--item-top .vis-top-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      top: 10x; }
    .visual__slide--item-top .vis-top-icon2 {
      position: absolute;
      right: 0.4375rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .visual__slide--item-img {
    width: 10.875rem;
    height: 12.8125rem; }
    .visual__slide--item-img img {
      width: 100%; }
  .visual__slide--item-bot {
    position: relative;
    padding: 0.5625rem 0.4375rem;
    background: #fff; }
    .visual__slide--item-bot .vis-top-icon3 {
      position: relative;
      top: -0.125rem; }
    .visual__slide--item-bot .vis-top-icon4 {
      float: right; }
    .visual__slide--item-bot .is-txt {
      margin-top: 0.25rem;
      font-size: 0.8125rem;
      font-weight: 500; }
      .visual__slide--item-bot .is-txt .is-num {
        margin-top: 0.25rem;
        font-size: 0.8125rem;
        font-weight: 500; }
  .visual__slide--item-tag {
    margin-top: 0.8125rem; }
    .visual__slide--item-tag .is-txt {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1875rem;
      color: #ffffff;
      margin-bottom: 0.5rem; }
    .visual__slide--item-tag .is-tag {
      font-size: 0.8125rem;
      line-height: 1.375rem;
      text-align: center;
      display: inline-block;
      width: 4.125rem;
      height: 1.5rem;
      background: #ffffff;
      border-radius: 0.9375rem; }
      .visual__slide--item-tag .is-tag.on {
        position: relative;
        top: 0.0625rem;
        box-sizing: border-box;
        background: transparent;
        border: 0.0625rem solid #fff;
        color: #ffffff; }
.visual__txt-wrap {
  position: relative;
  z-index: 10;
  padding-left: 17.5rem;
  padding-top: 3.125rem; }
  .visual__txt-wrap--txt {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.4375rem;
    color: #ffffff;
    margin-bottom: 0.6875rem; }
  .visual__txt-wrap--tit {
    font-size: 3.75rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 5.125rem;
    position: relative;
    margin-bottom: 3rem; }
    .visual__txt-wrap--tit:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2.1875rem;
      margin-left: 5.625rem;
      width: 52.3125rem;
      height: 0.0625rem;
      background: #ffffff;
      opacity: 0.2; }
  .visual__txt-wrap--scroll {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #fff; }

/* =================== best-review =================== */
.best-review {
  position: relative;
  padding-top: 4.375rem;
  padding-bottom: 3.125rem; }
  .best-review:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27.8125rem;
    background: rgba(11, 7, 45, 0.06); }
  .best-review__txt-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2.3125rem; }
    .best-review__txt-wrap:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1.125rem;
      width: 30.125rem;
      height: 0.0625rem;
      background: #c5c5c5;
      opacity: 0.5; }
  .best-review__menu-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 2.0625rem; }
  .best-review__item {
    margin-right: 0.75rem; }
    .best-review__item:last-of-type {
      margin-right: 0; }
  .best-review__link {
    display: inline-block; }

/* =================== labs-price =================== */
.labs-price {
  position: relative;
  overflow: hidden;
  padding-top: 4.4375rem;
  padding-bottom: 3.125rem;
  background: #0b072d; }
  .labs-price .obj1 {
    position: absolute;
    left: -6.125rem;
    bottom: -14.375rem; }
  .labs-price .obj2 {
    position: absolute;
    right: 4.75rem;
    bottom: 7.75rem; }
  .labs-price__inner {
    overflow: hidden; }
  .labs-price__tit-wrap {
    margin-bottom: 2.3125rem; }

/* =================== labs-people =================== */
.labs-people {
  padding-top: 4.4375rem;
  padding-bottom: 3.125rem; }
  .labs-people__card {
    display: flex;
    height: 25.0625rem;
    margin: 0 -0.625rem;
    margin-top: 2.3125rem; }
  .labs-people__item {
    width: 25%;
    height: 25.0625rem;
    margin: 0 0.625rem;
    height: 100%;
    transition: all 0.4s; }
    .labs-people__item:nth-of-type(1) {
      background-image: url("../../images/img/labs-people__card01.png"); }
    .labs-people__item:nth-of-type(2) {
      background-image: url("../../images/img/labs-people__card02.png"); }
    .labs-people__item:nth-of-type(3) {
      background-image: url("../../images/img/labs-people__card03.png"); }
    .labs-people__item:nth-of-type(4) {
      background-image: url("../../images/img/labs-people__card04.png"); }
    .labs-people__item a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .labs-people__item a:before {
        content: "";
        display: inline-block;
        background: linear-gradient(180deg, transparent, #ee3b4a);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s; }
      .labs-people__item a:hover:before {
        opacity: 1; }
      .labs-people__item a:hover .labs-people__txt-wrap-txt {
        opacity: 1; }
  .labs-people__txt-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.25rem;
    text-align: center; }
    .labs-people__txt-wrap-txt {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.5rem;
      color: #ffffff;
      transition: all 0.4s;
      opacity: 0; }
    .labs-people__txt-wrap-tit {
      font-size: 1.25rem;
      line-height: 1;
      color: #ffffff;
      margin-top: 1.125rem;
      padding-bottom: 0.3125rem;
      border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
      display: inline-block; }

/* =================== comunity =================== */
.community {
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  background: rgba(11, 7, 45, 0.06); }
  .community__info {
    padding: 1.6875rem 1.9375rem;
    background: #fff; }
  .community__txt-wrap {
    position: relative; }
    .community__txt-wrap .review__more-btn--community {
      position: absolute;
      top: 0;
      right: 0; }

@media all and (max-width: 1200px) {
  html {
    font-size: 14px; } }
@media all and (max-width: 900px) {
  html {
    font-size: 12px; } }
@media all and (max-width: 600px) {
  html {
    font-size: 10px; } }
/* =================== sub =================== */
.join {
  padding-top: 7.0625rem;
  padding-bottom: 3.125rem; }

/*# sourceMappingURL=ui.css.map */
