/* =================== header =================== */
.header {
  &__inner {
    @include wh(100%, 100px);

    max-width: 1725px;
    position: relative;
    background: #fff;
  }
}

.logo {
  @include pos-abs-center-vertical;
  left: 0;
}

/* =================== gnb =================== */
.gnb {
  @include pos-abs-center-vertical;
  @include flex;

  right: 350px;

  &__list {
    margin-right: 43px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__item {
    @include font-op {
      font-size: 16px;
      font-weight: 600;
    }

    transition: all 0.7s;

    &:hover {
      color: #ee3b4a;
    }
  }
}

/* =================== util =================== */
.util {
  @include pos-abs-center-vertical;
  @include flex;
  right: 0;

  &__list {
    margin-right: 22px;

    &:last-of-type {
      margin-right: 0;

      .util__item:after {
        display: none;
      }
    }
  }

  &__item {
    @include font-op {
      font-size: 16px;
      font-weight: 600;
      color: #a7a7a7;

      @include make-after {
        @include pos-abs-center-vertical;
        right: -11px;
        width: 1px;
        height: 14px;
        background: #a7a7a7;
      }
    }

    position: relative;
    transition: all 0.7s;

    &:hover {
      color: #ee3b4a;
    }
  }
}

/* =================== footer =================== */
.footer {
  padding-top: 45px;
  padding-bottom: 24px;
  background: #060417;
  &__inner {
    &--top {
      &-link {
        @include font-op {
          font-size: 14px;
          color: #a7a7a7;
        }
        @include make-after {
          @include wh(1px, 11px);
          @include pos-abs-center-vertical;
          right: -13px;

          background: #a7a7a7;
        }

        position: relative;
        display: inline-block;
        margin-right: 21px;

        &:last-of-type::after {
          display: none;
        }
      }
    }
    &--mid {
      margin-top: 32px;

      &-company {
        @include font-op {
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          line-height: 1;
        }

        margin-bottom: 10px;
      }
      &-represent {
        @include font-op {
          font-size: 14px;
          font-weight: 600;
          color: #a7a7a7;
          line-height: 1;
        }
        .line {
          @include font-op {
            font-size: 14px;
            display: inline-block;
            margin: 0 4px;
            color: #a7a7a7;
          }
        }
      }
      &-txt {
        margin-top: 10px;
        p {
          @include font-op {
            font-size: 14px;
            color: #a7a7a7;
            margin-top: 5px;
          }
        }
        p.last {
          margin-top: 15px;
        }
      }
    }
    &--copy {
      @include font-op {
        font-size: 14px;
        line-height: 1;
        color: #676767;
      }

      margin-top: 27px;
    }
  }
}
