/* =================== com-table =================== */

.com-table {
  margin-top: 3.125rem;
  border-top: 0.0625rem solid #c5c5c5;

  tr {
    height: 5.3125rem;
    border-bottom: 0.0625rem solid rgba(197, 197, 197, 0.5);

    td {
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      &.date {
        @include font-op {
          font-size: 1.125rem;
          color: #464646;
        }

        width: 8.75rem;
      }

      &.heart {
        @include font-op {
          font-size: 1.125rem;
          color: #a7a7a7;
        }

        width: 7.5rem;
      }

      &.in-txt {
        @include font-op {
          font-size: 1.125rem;
          color: #464646;
        }

        width: 55.625rem;
        text-align: left;
        padding-left: 1.875rem;
        box-sizing: border-box;
      }

      &.id {
        @include font-op {
          font-size: 1.125rem;
          color: #a7a7a7;
          letter-spacing: -0.125rem;
        }

        width: 5rem;
      }
    }
  }
}
