/* =================== title =================== */

.title {
  &__tit {
    &.block {
      color: #000;
    }

    &.white {
      color: #fff;
    }

    @include font-op {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.6875rem;
      color: #ee3b4a;
    }

    margin-bottom: 1.3125rem;
  }

  &__txt {
    &.block {
      color: #000;
    }

    &.white {
      color: #fff;
    }

    @include font-op {
      font-size: 1.875rem;
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
}
