/* =================== visual =================== */
.visual {
  &__inner {
    @include bg-url("img", "bg-visual.png", "center", "cover");
    height: 52.9375rem;
    position: relative;
    max-width: 107.8125rem;

    @include make-before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(136, 34, 43, 0.36);
    }
  }

  &__obj {
    position: absolute;
    top: 3.125rem;
    left: 0;

    img {
      width: 100%;
    }
  }

  &__slide-bg {
    @include wh(100%, 27.5rem);

    position: relative;
    background: #ee3b4a;
    overflow: hidden;
  }

  &__slide-wrap {
    top: 50%;
    transform: translateY(-50%);

    .main-slide-next {
      right: 20.2%;
      width: 3.4375rem;
      height: 3.4375rem;
      margin-top: -3.125rem;
      @include bg-url("img", "slide-right.png", "center", "cover");
    }

    .main-slide-prev {
      left: 20.2%;
      width: 3.4375rem;
      height: 3.4375rem;
      margin-top: -3.125rem;
      @include bg-url("img", "slide-left.png", "center", "cover");
    }
  }

  &__slide--item {
    width: 10.875rem !important;
    margin: 0 0.7188rem;
    opacity: 0.2;
    position: relative;
    z-index: -1;

    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-prev {
      opacity: 1;
    }

    &-top {
      position: relative;
      height: 1.875rem;
      background: #fff;

      .vis-top-icon {
        position: absolute;
        left: 0.4375rem;
        @include pos-abs-center-vertical;
      }

      .vis-top-logo {
        @include pos-abs-center;
        top: 10x;
      }

      .vis-top-icon2 {
        position: absolute;
        right: 0.4375rem;
        @include pos-abs-center-vertical;
      }
    }

    &-img {
      width: 10.875rem;
      height: 12.8125rem;

      img {
        width: 100%;
      }
    }

    &-bot {
      position: relative;
      padding: 0.5625rem 0.4375rem;
      background: #fff;

      .vis-top-icon3 {
        position: relative;
        top: -0.125rem;
      }

      .vis-top-icon4 {
        float: right;
      }

      .is-txt {
        @include font-op {
          margin-top: 0.25rem;
          font-size: 0.8125rem;
          font-weight: 500;
        }

        .is-num {
          @include font-op {
            margin-top: 0.25rem;
            font-size: 0.8125rem;
            font-weight: 500;
          }
        }
      }
    }

    &-tag {
      margin-top: 0.8125rem;

      .is-txt {
        @include font-op {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.1875rem;
          color: #ffffff;
        }

        margin-bottom: 0.5rem;
      }

      .is-tag {
        @include font-op {
          font-size: 0.8125rem;
          line-height: 1.375rem;
          text-align: center;
        }

        display: inline-block;
        width: 4.125rem;
        height: 1.5rem;
        background: #ffffff;
        border-radius: 0.9375rem;

        &.on {
          position: relative;
          top: 0.0625rem;
          box-sizing: border-box;
          background: transparent;
          border: 0.0625rem solid #fff;
          color: #ffffff;
        }
      }
    }
  }

  &__txt-wrap {
    position: relative;
    z-index: 10;
    padding-left: 17.5rem;
    padding-top: 3.125rem;

    &--txt {
      @include font-op {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 3.4375rem;
        color: #ffffff;
      }

      margin-bottom: 0.6875rem;
    }

    &--tit {
      @include font-op {
        font-size: 3.75rem;
        font-weight: 600;
        color: #ffffff;
        line-height: 5.125rem;
      }

      @include make-after {
        @include pos-abs-center-horizontal;
        bottom: 2.1875rem;
        margin-left: 5.625rem;
        @include wh(52.3125rem, 0.0625rem);
        background: #ffffff;
        opacity: 0.2;
      }

      position: relative;
      margin-bottom: 3rem;
    }

    &--scroll {
      @include font-op {
        font-size: 0.875rem;
        line-height: 1.1875rem;
        color: #fff;
      }
    }
  }
}

/* =================== best-review =================== */
.best-review {
  position: relative;
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;

  @include make-after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27.8125rem;
    background: rgba(11, 7, 45, 0.06);
  }

  &__txt-wrap {
    position: relative;

    @include make-before {
      @include pos-abs-center-horizontal;
      bottom: 1.125rem;
      @include wh(30.125rem, 0.0625rem);

      background: #c5c5c5;
      opacity: 0.5;
    }

    @include flex {
      justify-content: space-between;
    }

    position: relative;
    margin-bottom: 2.3125rem;
  }

  &__menu-wrap {
    @include flex {
      align-items: center;
    }

    margin-bottom: 2.0625rem;
  }

  &__item {
    margin-right: 0.75rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
  }
}

/* =================== labs-price =================== */
.labs-price {
  position: relative;
  overflow: hidden;
  padding-top: 4.4375rem;
  padding-bottom: 3.125rem;
  background: #0b072d;

  .obj1 {
    position: absolute;
    left: -6.125rem;
    bottom: -14.375rem;
  }

  .obj2 {
    position: absolute;
    right: 4.75rem;
    bottom: 7.75rem;
  }

  &__inner {
    overflow: hidden;
  }

  &__tit-wrap {
    margin-bottom: 2.3125rem;
  }
}

/* =================== labs-people =================== */
.labs-people {
  padding-top: 4.4375rem;
  padding-bottom: 3.125rem;

  &__card {
    @include flex;

    height: 25.0625rem;
    margin: 0 -0.625rem;
    margin-top: 2.3125rem;
  }

  &__item {
    @include wh(25%, 25.0625rem);
    margin: 0 0.625rem;

    &:nth-of-type(1) {
      @include bg-url("img", "labs-people__card01.png");
    }

    &:nth-of-type(2) {
      @include bg-url("img", "labs-people__card02.png");
    }

    &:nth-of-type(3) {
      @include bg-url("img", "labs-people__card03.png");
    }

    &:nth-of-type(4) {
      @include bg-url("img", "labs-people__card04.png");
    }

    height: 100%;
    transition: all 0.4s;

    a {
      @include make-before {
        background: linear-gradient(180deg, transparent, #ee3b4a);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s;
      }

      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:hover {
        &:before {
          opacity: 1;
        }

        .labs-people__txt-wrap-txt {
          opacity: 1;
        }
      }
    }
  }

  &__txt-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.25rem;
    text-align: center;

    &-txt {
      @include font-op {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.5rem;
        color: #ffffff;
      }

      transition: all 0.4s;
      opacity: 0;
    }

    &-tit {
      @include font-op {
        font-size: 1.25rem;
        line-height: 1;
        color: #ffffff;
      }

      margin-top: 1.125rem;
      padding-bottom: 0.3125rem;
      border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
      display: inline-block;
    }
  }
}

/* =================== comunity =================== */
.community {
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  background: rgba(11, 7, 45, 0.06);

  &__info {
    padding: 1.6875rem 1.9375rem;
    background: #fff;
  }

  &__inner {
  }

  &__txt-wrap {
    position: relative;

    .review__more-btn--community {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@include media(web) {
  html {
    font-size: 14px;
  }
}
@include media(tab) {
  html {
    font-size: 12px;
  }
}

@include media(mb) {
  html {
    font-size: 10px;
  }
}
